* {
	box-sizing: border-box;
}
body {
	margin: 0;
	padding: 0;
	min-height: 100vh;
	background: #c21500;
	background: -webkit-linear-gradient(35deg, #CCFFFF, #FFCCCC);
	background: linear-gradient(35deg, #CCFFFF, #FFCCCC);
	font-family: Helvetica, sans-serif;
}
main {
	display: flex;
	justify-content: center;
	align-items: flex-start;
}
.container {
	min-width: 500px;
	min-height: 500px;
	/*box-shadow: 0 0 10px 10px #00000045;*/
	display: grid;
	background: #fff;
}
.grid-cell {
	outline: 1px solid #000;
	background: #fff;
	opacity: 1;
}
.hovered {
	background: #000;
}
.options {
	display: flex;
	flex-direction: column;
	margin: 0 40px;
}
header {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 40px 0 40px 0;
}
.title {
	font-size: 40px;
	margin: 0;
	color: #000;
	/*text-shadow: 3px 3px 0px #390065;*/
}
.reset,
.resize,
.RGB-color,
.black-shade {
	width: 170px;
	height: 40px;
	margin-bottom: 40px;
	cursor: pointer;
	font-weight: bold;
	background-color: #fff;
	border: 2px solid #000;
	outline: none;
	text-transform: uppercase;
	-webkit-transition: all .3s ease-in-out;
	-moz-	transition: all .3s ease-in-out;
	-o- 	transition: all .3s ease-in-out;
		transition: all .3s ease-in-out;
}
.reset:hover,
.resize:hover,
.RGB-color:hover,
.black-shade:hover {
	color: #fff;
	border: 2px solid #fff;
	background-color: #000;
	box-shadow: 0 0 10px 2px #000;
}
.reset-cell {
	background-color: #fff!important;
}
.info {
	text-align: center;
	font-style: italic;
	font-size: 20px;
	padding-top: 60px;
	margin: 0;
}
.number {
	width: 170px;
	height: 30px;
	margin: 5px 0 10px 0;
	padding: 0 10px;
}
label[for="number"],
label[for="color-input"] {
	color: #000;
	font-weight: 600;
	width: 170px;
	/*text-shadow: 1px 1px 5px #000;*/
}
label[for="color-input"] {
	text-align: center;
}
.color-input {
	margin: 10px auto 0;
	border-radius: 100%;
	height: 45px;
	width: 45px;
	border: none;
	outline: none;
	cursor: pointer;
    	-webkit-appearance: none;
}
.color-input::-webkit-color-swatch-wrapper {
    	padding: 0;	
}
.color-input::-webkit-color-swatch {
    	border: none;
    	border-radius: 100%;
}
